html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 22px;
  color: $default;
  @extend %nunito-regular;
}

.main {
  flex-grow: 1;
}

.site-container{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1174px;
}
