<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__inner">
        <div class="footer-top__item">
          <div class="footer-top__box">
            <h4 class="footer-top__title">
              Інформація
            </h4>
            <svg>
              <use xlink:href="images/icons/mono/spriteMono.svg#arrow-down"></use>
            </svg>
          </div>
          <ul class="footer-top__list">
            <li class="footer-top__list-item">
              <a class="footer-top__link footer-top__link--mail" href="mailto:info@gedeze.com">
                info@gedeze.com
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__link footer-top__link--tg" href="#">
                Написати в Telegram
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__link" href="#">
                З питань реклами: ad@gedeze.com
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-top__item">
          <div class="footer-top__box">
            <h4 class="footer-top__title">
              Всі ГДЗ на одному сайті
            </h4>
            <svg>
              <use xlink:href="images/icons/mono/spriteMono.svg#arrow-down"></use>
            </svg>
          </div>
          <ul class="footer-top__list footer-top__item--info">
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                1 клас
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                2 клас
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                3 клас
              </a>
            </li>
            <li class="footer-top__list-item">

              <a class="footer-top__list-link" href="#">
                4 клас
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                5 клас
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                6 клас
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                7 клас
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                8 клас
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                9 клас
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                10 клас
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                11 клас
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-top__item">
          <div class="footer-top__box">
            <h4 class="footer-top__title">
              Державна підсумкова атестація
            </h4>
            <svg>
              <use xlink:href="images/icons/mono/spriteMono.svg#arrow-down"></use>
            </svg>
          </div>
          <ul class="footer-top__list">
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                4 клас (ДПА)
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                9 клас (ДПА)
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                11 клас (ДПА)
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-top__item">
          <div class="footer-top__box">
            <h4 class="footer-top__title">
              Найчастіше шукають
            </h4>
            <svg>
              <use xlink:href="images/icons/mono/spriteMono.svg#arrow-down"></use>
            </svg>
          </div>
          <ul class="footer-top__list">
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                Математика 7 клас
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                Біологія 11 клас
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                Хімія 8 клас
              </a>
            </li>
            <li class="footer-top__list-item">
              <a class="footer-top__list-link" href="#">
                Геометрія 9 класс
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-info">
    <div class="container">
      <div class="footer-info__inner">
        <a class="footer-info__link" href="#">
          Умови використання | Політика конфідеційності
        </a>
        <a class="footer-info__link" href="#">
          Copyright © 2020 ГДЗ Online
        </a>
      </div>
    </div>
  </div>
</footer>